@media(max-width: 1350px) {
  .header__sidebar {
    width: 100%;
    height: 100px;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
  }

  .header__sidebar:hover {
    width: 100%;
  }

  .header__list {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    margin-left: 0;
  }

  .header__link {
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
  }

  .header__link>div>i {
    margin-right: 0;
  }

  .header__ava {
    margin-right: 15px;
    margin-left: 0;
  }

  .intro {
    margin-top: 130px;
  }
}

@media(max-width: 1110px) {
  .service__left {
    margin-left: auto;
    margin-right: auto;
  }

  .service__right {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .service__title {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
}

@media(max-width: 1050px) {
  .info{
    justify-content: space-evenly;
    margin-top: 0;
  }
  .info__item{
    margin-top: 30px;
  }
}

@media(max-width: 585px){
  .footer__content{
    justify-content: center;
    text-align: center;
  }
  .footer__list{
    text-align: center;
  }
  
  .menu{
    display: flex;
  }
  
  .header__sidebar{
    overflow: unset;
  }
  
  .header__list{
    position: fixed;
    top: 0;  
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    transform: translateY(-100%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.5s linear;
  }
  
  #menu:checked ~ .header__list{
    transform: translateY(0%);
    backdrop-filter: blur(15px);
  }
  
  .header__link{
    color: black;
  }
  
  .intro__title{
    width: 100%;
    text-align: center;
    font-size: 40px;
  }
  
  .intro__text{
    width: 100%;
    text-align: center;
  }
  
  .intro{
    padding-left: 15px;
    padding-right: 15px;
  }
  .intro>.btn{
    margin-left: auto;
    margin-right: auto;
  }
  
}